<!DOCTYPE html>
<html>

<head>
  <link
    href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <style>
    .section{
      text-align: center;
      margin-top: 30px;
    }

    .table {
      border: none;
    }

    .heading {
      font-family: 'Work Sans', sans-serif;
      font-weight: 700;
      font-size: 26px;
      text-align: center;
      color: #116bb5;
    }

    .heading-note {
      font-family: 'Work Sans', sans-serif;
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      color: #e2e2e2;
    }

    .location-details1 {
      width: 700px;
      margin-top: 28px;
      text-align: left; 
    }

    .card {
      padding: 18px 0px;
      width: 690px;
      background-color: #F7F8FB;
      border-radius: 13px;
      display: flex;
      text-align: left;
      justify-content: left;
    }

    .card1 {
      padding: 18px 0px;
      width: 690px;
      background-color: #F7F8FB;
      border-radius: 13px;
      display: flex;
      text-align: left;
      justify-content: left;
      margin-top: 30px;
    }
    

    .WorkSans-14 {
      font-family: 'Work Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #303030;
    }

    .testerName {
      font-family: 'Work Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #303030;
    }

    .WorkSans-14-b {
      font-family: 'Work Sans', sans-serif;
      font-weight: bold;
      font-size: 14px;
      color: #303030;
    }

    .WorkSans-20 {
      font-family: 'Work Sans', sans-serif;
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
      color: #303030;
      text-align: center;
      margin-top: 20px;
    }
    
    .tag {
      padding: 5px 10px !important;
      /* background-color: #d9eae8 !important; */
      border: 1px solid #a8cfca !important;
      border-radius: 5px !important;
      margin-right: 10px !important;
      margin-bottom: 10px !important;
      font-size: 14px !important;
      display: inline-block;
      /* background-color: #303030 !important; */

   }
    
    .borderLeft {
      border-left:5px solid #e2e2e2; 
      padding: 0px 10px;
      text-align: right;
    }

    .borderBottom {
      border-top: 5px solid #e2e2e2 !important;
    }
    
    .lattitude {
      font-family: 'Work Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #303030;
      padding: 0px 15px;
    }
    
    .surrondingTitle {
      font-family: 'Work Sans', sans-serif;
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
      color: #26BB31;
      display: flex; 
      justify-content: center;
      padding: 30px 0px;
    }

    .surrondingContent {
      display: flex; 
      justify-content: center;
      padding: 20px 15px;
    }

    .icon {
      height: 40px;
      width: 40px
    }

    .parameter {
      font-family: 'Work Sans', sans-serif;
      font-size: 16px;
      font-weight: bold;
      color: #303030;
      text-align: left;
    }

    .air-temperature {
      font-family: 'Work Sans', sans-serif;
      font-weight: 500;
      font-size: 20px;
      color: #222222;
    }

    .air-temperature-degree {
      font-family: 'Work Sans', sans-serif;
      font-weight: 500;
      font-size: 18px;
      color: #B5B5B5;
    }

    .temperature {
      font-family: 'Work Sans', sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #303030;
    }

    .degree {
      font-family: 'Work Sans', sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #B5B5B5;
    }

    .weather {
      font-family: 'Work Sans', sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #e2e2e2;
    }
 
    .sectionTemp {
      width: 690px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 5px solid #e2e2e2 !important;
    }

    .containerTemp {
      display: flex;
      justify-content: left;
      text-align: left;
    }
    
    .water-temp {
      padding: 0px 6px;
      margin-top: 17px;
    }
    .reason {
      font-family: 'Work Sans', sans-serif;
      font-size: 14px;
      color: #e2e2e2;
    }

    .range {
      font-family: 'Work Sans', sans-serif;
      font-size: 14px;
      color: #e2e2e2;
    }

    .value {
      text-align: right;
    }

    .value1 {
      text-align: right;
      margin-bottom: 10px;
    }

    .value-green1 {
      font-family: 'Work Sans', sans-serif;
      font-weight: bold;
      font-size: 20px;
      color: #26BB31;
      text-align: right;
    }

    .value-green2 {
      font-family: 'Work Sans', sans-serif;
      font-weight: 500;
      font-size: 12px;
      color: #26BB31;
      text-align: right;
    }

    .value-red1 {
      font-family: 'Work Sans', sans-serif;
      font-weight: bold;
      font-size: 20px;
      color: #E94D4D;
      text-align: right;
    }

    .value-red2 {
      font-family: 'Work Sans', sans-serif;
      font-weight: 500;
      font-size: 12px;
      color: #E94D4D;
      text-align: right;
    }

    .flex {
      display: flex;
      justify-content: left;
      text-align: left;
      margin-bottom: 10px;
    }

    .content {
     padding: 0px 5px;
    }

    .content1 {
      padding: 0px 15px;
    }

    .info {
      font-family: 'Work Sans', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.25rem;
    }

    .iconBox {
      display: flex; 
      align-items: center;
    }

    .iconImg {
      height: 50px;
      width: 50px;
    }

    .section1 {
      width: 690px;
      margin-top: 70px;
    }
    
    .imgSection {
      width: 690px;
    }
  

    .imgSectionTitle {
      font-family: 'Work Sans', sans-serif;
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
      color: #303030;
      text-align: center;
    }

    .imgContainer {
      width: 690px !important;
      display: flex;
      justify-content: left; 
      flex-wrap: wrap;
    }

    .images {
      width:auto;
      height:150px; 
      padding: 10px 5px;
    }
  </style>
</head>

  <body >
    <center>
  <div class="section">
    <img src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/certificate-icon.svg" alt="ICON">
  </div>
  <p class="heading">OUTSTANDING VOLUNTEER</p>
  <p class="heading-note">In appreciation of your important role as citizen <br /> scientist in raising awareness
    towards the river</p>

    <table class="location-details1">
      <tr> 
        <td>
          <p class="WorkSans-14-b">
            <% 
              const rawDate = waterTestDetails.generalInformation.activityDate;
              if (rawDate) {
                const date = new Date(rawDate);
                const day = date.getDate().toString().padStart(2, '0');
                const month = (date.getMonth() + 1).toString().padStart(2, '0'); // Month is zero-based
                const year = date.getFullYear();
                const formattedDate = `${day}/${month}/${year}`;
                %>
                <%= formattedDate %>
            <% } else { %>
              Date not available
            <% } %>
          </p>
          <p class="testerName">
            <%= waterTestDetails.generalInformation.testerName %>
          </p>    
          <p class="testerName">
            <%= waterTestDetails.generalInformation.location %>
          </p>
          <span class="testerName">Latitude : </span><span class="lattitude">
            <%= waterTestDetails.generalInformation.latitude %>
          </span>
          <span class="testerName">Longitude : </span><span class="lattitude">
            <%= waterTestDetails.generalInformation.longitude %>
          </span>
          <p>
          <span class="testerName">Water Level:</span>
          <span class="testerName" style=" padding: 0px 20px;">
            <%= waterTestDetails.waterLevelAndWeather.waterLevel %>
          </span>
        </p>
        </td>
        <td class="borderLeft">
          <span class="air-temperature">
            <%= waterTestDetails.waterLevelAndWeather.airTemperature %>
          </span><span class="air-temperature-degree">&#x2103;</span>
          <% if (waterTestDetails.waterLevelAndWeather.weather=='Sunny' ) { %>
            <img src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/sunny-icon.svg" alt="ICON"
              height="32px">
            <% }%>
              <% if (waterTestDetails.waterLevelAndWeather.weather=='Partly Cloudy' ) { %>
                <img src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/partly-cloudy-icon.svg"
                  alt="ICON" height="32px">
                <% }%>
                  <% if (waterTestDetails.waterLevelAndWeather.weather=='Cloudy' ) { %>
                    <img src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/cloudy-icon.svg"
                      alt="ICON" height="32px">
                    <% }%>
                      <% if (waterTestDetails.waterLevelAndWeather.weather=='Light Rain' ) { %>
                        <img
                          src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/light-rain-icon.svg"
                          alt="ICON" height="32px">
                        <% }%>
                          <% if (waterTestDetails.waterLevelAndWeather.weather=='Heavy Rain' ) { %>
                            <img
                              src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/heavy-rain-icon.svg"
                              alt="ICON" height="32px">
                            <% }%>
                            <p class="weather">
                              <%= waterTestDetails.waterLevelAndWeather.weather %>
                            </p>
        </td>
      </tr>
    </table>
    <h1 class="surrondingTitle">Surroundings</h1> 
    <div class="surrondingContent">
        <% for (let i = 0; i < waterTestDetails.surroundings.length; i++) { %>
          <button class="tag">
            <%= waterTestDetails.surroundings[i] %>
          </button>
        <% } %>
      </div>
    <h1 class="surrondingTitle">Water Quality </h1>
    <table class="card">
      <tr class="sectionTemp">
        <td class="containerTemp">
          <div>
          <img class="iconImg"
            src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/temperature-icon.svg" alt="ICON">
          </div>
          <div class="water-temp">
          <span class="parameter">Water Temperature</span><br />
           </div>
        </td>
         <td class="value"> <span class="row"><span class="value-green1"> <%= waterTestDetails.waterTesting.waterTemperature %></span> </span><span class="value-green2">&#x2103;</span></span></td>
      </tr>
    </table>
    <table class="card">
      <tr>
        <td class="flex">
          <div>
          <img class="iconImg" 
            src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/ph-icon.svg" alt="ICON">
          </div>
          <div class="content">
          <span class="parameter">Ph</span><br />
          <span class="reason">Potable Water</span><br />
          <span class="range">6.5 - 8.5</span>
        </div>
      </td>
        <td class="value1">
          <% if (parseInt(waterTestDetails.waterTesting.pH) * 1>= 6.5 && parseInt(waterTestDetails.waterTesting.pH) * 1 <= 8.5) { %>
              <span class="row"><span class="value-green1">
                  <%= waterTestDetails.waterTesting.pH %>
                </span> <span class="value-green2">pH</span> </span>
              <% }%>
                <% if (parseInt(waterTestDetails.waterTesting.pH) * 1 < 6.5 || parseInt(waterTestDetails.waterTesting.pH) * 1> 8.5) { %>
                  <span class="row"><span class="value-red1">
                      <%= waterTestDetails.waterTesting.pH %>
                    </span> <span class="value-red2">pH</span> </span>
                  <% }%>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="borderBottom">
          <p class="info">
            pH is a measure of a solutions acidity. At the extreme ends of pH scale (2 or 13) physical damage to gills,
            fins in fishes and exoskeleton in other aquatic animal will occur. Also decrease in pH (below 6) may
            increase in mercury level (if present) in water and increase in pH (above 8.5) results in conversion of
            nontoxic ammonia to toxic form. pH is measured on a logarithmic scale from 1 to 14. 1 being extremely
            acidic, 7 neutral and 14 extremely basic.
          </p>
        </td>
      </tr>
    </table>
    <br><div style="page-break-after:always;"></div>
    <table class="card1">
      <tr>
        <td class="flex">
          <div class="iconBox">
          <img class="iconImg"
            src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/alkalinity-icon.svg" alt="ICON">
          </div>
          <div class="content">
          <span class="parameter">Alkalinity</span><br />
          <span class="reason">For protection of aquatic life</span><br />
          <span class="range">20 mg/L - 250 mg/L</span>
        </div>
        </td>
        <td class="value">
          <% if (parseInt(waterTestDetails.waterTesting.alkalinity) * 1>= 20 && parseInt(waterTestDetails.waterTesting.alkalinity) * 1 <=
              250) { %>
              <span class="row"><span class="value-green1">
                  <%= waterTestDetails.waterTesting.alkalinity %>
                </span> <span class="value-green2">mg/L</span> </span>
              <% }%>
                <% if (parseInt(waterTestDetails.waterTesting.alkalinity) * 1 < 20 || parseInt(waterTestDetails.waterTesting.alkalinity) *
                  1> 250) { %>
                  <span class="row"><span class="value-red1">
                      <%= waterTestDetails.waterTesting.alkalinity %>
                    </span> <span class="value-red2">mg/L</span> </span>
                  <% }%>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="borderBottom">
          <p class="info">
            Alkalinity is important for fish and aquatic life because it protects or buffers against rapid pH changes in
            the water. For protection of aquatic life alkalinity should be at least 20mg/L.
          </p>
        </td>
      </tr>
    </table>

    <table class="card">
      <tr>
        <td class="flex">
        <div>
          <img class="iconImg"
            src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/nitrates-nitrites-icon.svg"
            alt="ICON">
        </div>
        <div class="content">
          <span class="parameter">Nitrates</span><br />
          <span class="reason">Natural Level</span><br />
          <span class="range">1 mg/L</span>
        </div>
      </td>
        <td class="value1">
          <% if (parseInt(waterTestDetails.waterTesting.nitrate) * 1 <=1) { %>
            <span class="row"><span class="value-green1">
                <%= waterTestDetails.waterTesting.nitrate %>
              </span> <span class="value-green2">mg/L</span> </span>
            <% }%>
              <% if (parseInt(waterTestDetails.waterTesting.nitrate) * 1> 1 ) { %>
                <span class="row"><span class="value-red1">
                    <%= waterTestDetails.waterTesting.nitrate %>
                  </span> <span class="value-red2">mg/L</span> </span>
                <% }%>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="borderBottom">
          <p class="info">
            Nitrogen is essential for all living things as it is a component of protein. However excessive concentration
            of nitrate – nitrogen or nitrite – nitrogen, in water can be hazardous to aquatic animals, people especially
            for infants and pregnant women. Activities near water source such as drainage from livestock facilities,
            fields which utilize fertilizers, and sewage disposal will change the nitrogen concentration in the river.
          </p>
        </td>
      </tr>
    </table>
    <table class="card">
      <tr>
        <td class="flex">
        <div>
          <img class="iconImg"
            src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/nitrates-nitrites-icon.svg"
            alt="ICON">
        </div>
        <div class="content">
          <span class="parameter">Nitrites</span><br />
          <span class="reason">Natural Level</span><br />
          <span class="range">1 mg/L</span>
        </div>
      </td>
        <td class="value1">
          <% if (parseInt(waterTestDetails.waterTesting.nitrite) * 1 <=1) { %>
            <span class="row"><span class="value-green1">
                <%= waterTestDetails.waterTesting.nitrite %>
              </span> <span class="value-green2">mg/L</span> </span>
            <% }%>
              <% if (parseInt(waterTestDetails.waterTesting.nitrite) * 1> 1 ) { %>
                <span class="row"><span class="value-red1">
                    <%= waterTestDetails.waterTesting.nitrite %>
                  </span> <span class="value-red2">mg/L</span> </span>
                <% }%>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="borderBottom">
          <p class="info">
            Nitrogen is essential for all living things as it is a component of protein. However excessive concentration
            of nitrate – nitrogen or nitrite – nitrogen, in water can be hazardous to aquatic animals, people especially
            for infants and pregnant women. Activities near water source such as drainage from livestock facilities,
            fields which utilize fertilizers, and sewage disposal will change the nitrogen concentration in the river.
          </p>
        </td>
      </tr>
    </table>

    <table class="card">
      <tr>
        <td class="flex">
        <div class="iconBox">
          <img class="iconImg"
            src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/hardness-icon.svg" alt="ICON">
        </div>
        <div class="content">
          <span class="parameter">Total Hardness</span><br />
          <span class="reason">Soft: </span><span class="range">0 - 17.1</span><br />
          <span class="reason">Slightly Hard: </span><span class="range">-17.1 - 60</span><br />
          <span class="reason">Moderately Hard: </span><span class="range">-60 - 120</span><br />
          <span class="reason">Hard: </span><span class="range">-120 - 180</span><br />
          <span class="reason">Very Hard: </span><span class="range">-180 and over</span>
        </div>
      </td>
        <td class="value1">
          <span class="row"><span class="value-green1">
              <%= waterTestDetails.waterTesting.hardness %>
            </span> <span class="value-green2">mg/L</span> </span>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="borderBottom">
          <p class="info">
            Water described as hard is high in minerals like calcium and magnesium. Hard water is not a health risk, but
            can cause various problems like mineral build up, poor soap and detergent performance, greying of fabrics,
            soap curds can deposit on dishes, utensils, machines, water using appliances and also causes clogging of
            water pipes.
          </p>
        </td>
      </tr>
    </table>
    <br><div style="page-break-after:always;"></div>
    <table class="card1">
      <tr>
        <td class="flex">
        <div>
          <img class="iconImg"
            src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/chlorine-icon.svg" alt="ICON">
          </div>
          <div class="content">
          <span class="parameter">Chlorine</span><br />
          <span class="reason">Acceptable Standards</span><br />
          <span class="range">0.2 - 1.0 mg/L</span>
         </div>
        </td>
        <td class="value1">
          <% if (parseInt(waterTestDetails.waterTesting.chlorine) * 1>= 0.2 && parseInt(waterTestDetails.waterTesting.chlorine) * 1 <= 1.0)
              { %>
              <span class="row"><span class="value-green1">
                  <%= waterTestDetails.waterTesting.chlorine %>
                </span> <span class="value-green2">mg/L</span> </span>
              <% }%>
                <% if (parseInt(waterTestDetails.waterTesting.chlorine) * 1 < 0.2 || parseInt(waterTestDetails.waterTesting.chlorine) * 1>
                  1.0) { %>
                  <span class="row"><span class="value-red1">
                      <%= waterTestDetails.waterTesting.chlorine %>
                    </span> <span class="value-red2">mg/L</span> </span>
                  <% }%>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="borderBottom">
          <p class="info">
            Chlorine is a bleaching agent used to purify water, but too much is dangerous for us. Chlorine presence
            affects aquatic life, and causes stress in fishes. In humans, presence of excessive chlorine is
            carcinogenic.
          </p>
        </td>
      </tr>
    </table>

    <table class="card">
      <tr>
        <td class="flex">
        <div class="iconBox">
          <img class="iconImg"
            src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/dissolved-O2-icon.svg" alt="ICON">
          </div>
          <div class="content">
          <span class="parameter">Dissolved Oxygen</span><br />
          <span class="reason">Dissolved Oxygen gas</span><br />
          <span class="range">4.0 - 20.0 mg/L</span>
        </div>
      </td>
        <td class="value1">
          <% if (parseInt(waterTestDetails.waterTesting.dissolvedOxygen) * 1>= 4.0 &&
          parseInt(waterTestDetails.waterTesting.dissolvedOxygen) * 1 <= 20.0) { %>
              <span class="row"><span class="value-green1">
                  <%= waterTestDetails.waterTesting.dissolvedOxygen %>
                </span> <span class="value-green2">mg/L</span> </span>
              <% }%>
                <% if (parseInt(waterTestDetails.waterTesting.dissolvedOxygen) * 1 < 4.0 ||
                parseInt(waterTestDetails.waterTesting.dissolvedOxygen) * 1> 20.0) { %>
                  <span class="row"><span class="value-red1">
                      <%= waterTestDetails.waterTesting.dissolvedOxygen %>
                    </span> <span class="value-red2">mg/L</span> </span>
                  <% }%>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="borderBottom">
          <p class="info">
            Dissolved oxygen analysis measures the amount of gaseous oxygen (O2) dissolved in an aqueous solution. High
            level of DO in a community water supply is god because it makes drinking water tastes better. If it’s high
            in natural water bodies fishes may suffer due to block of flow of blood through blood vessels. Lower the
            level of DO grater is the stress to aquatic animals (below 1/2mg/ 1, can result in large fish kills).</p>
          </p>
        </td>
      </tr>
    </table>

    <table class="card">
      <tr>
        <td class="flex">
        <div>
          <img class="iconImg"
            src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/iron-icon.svg" alt="ICON">
          </div>
          <div class="content">
          <span class="parameter">Iron</span><br />
          <span class="reason">Acceptable Standards</span><br />
          <span class="range">0.2 - 2.0 mg/L</span>
        </div>
      </td>
        <td class="value1">
          <% if (parseInt(waterTestDetails.waterTesting.iron) * 1>= 0.2 && parseInt(waterTestDetails.waterTesting.iron) * 1 <= 2.0) { %>
              <span class="row"><span class="value-green1">
                  <%= waterTestDetails.waterTesting.iron %>
                </span> <span class="value-green2">mg/L</span> </span>
              <% }%>
                <% if (parseInt(waterTestDetails.waterTesting.iron) * 1 < 0.2 || parseInt(waterTestDetails.waterTesting.iron) * 1 > 2.0) { %>
                  <span class="row"><span class="value-red1">
                      <%= waterTestDetails.waterTesting.iron %>
                    </span> <span class="value-red2">mg/L</span> </span>
                  <% }%>
        </td>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="borderBottom">
          <p class="info">
            Iron is present in significant amounts in soils and rocks, principally in insoluble forms. However, many
            complex reactions which occur naturally in ground formations can give rise to more soluble forms of iron
            which will therefore be present in water passing through such formations. The metal is quite harmful to
            aquatic life, as evidenced by laboratory studies.</p>
          </p>
        </td>
      </tr>
    </table>

    <table class="card">
      <tr>
        <td class="flex">
        <div>
          <img class="iconImg"
            src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/e-coli-icon.svg" alt="ICON">
          </div>
          <div class="content">
          <span class="parameter">E Coli / Coliform Bacteria</span><br />
          <span class="reason">Presence indicates sources of human or animal fecal waste</span><br />
        </div>
      </td>
        <td class="value1">
          <% if (waterTestDetails.waterTesting.bacteria=='Absent' ) { %>
            <span class="row"><span class="value-green1">
                <%= waterTestDetails.waterTesting.bacteria %>
              </span> </span>
            <% }%>
              <% if (waterTestDetails.waterTesting.bacteria=='Present' ) { %>
                <span class="row"><span class="value-red1">
                    <%= waterTestDetails.waterTesting.iron %>
                  </span> </span>
                <% }%>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="borderBottom">
          <p class="info">
            Total coliforms include faecal and also other bacteria with similar properties which originate in soil.
            Where E. coli are present in large numbers, the inference is that heavy, recent pollution by human or animal
            wastes has occurred. Their presence in a water supply is proof that faecal contamination has occurred and it
            is therefore a definite indication of the risk that pathogens may be present.</p>
          </p>
        </td>
      </tr>
    </table>
    <br><div style="page-break-after:always;"></div>
    <table class="card1">
      <tr>
        <td class="flex">
        <div  class="iconBox">
          <img class="iconImg"
            src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/turbidity-icon.svg" alt="ICON">
          </div>
          <div class="content">
          <span class="parameter">Turbidity</span><br />
          <span class="reason">Acceptable Standards</span><br />
          <span class="range">Upto 15,000 NTU</span>
        </div>
      </td>
        <td class="value">
          <% if (parseInt(waterTestDetails.waterTesting.turbidity) * 1 <=15000) { %>
            <span class="row"><span class="value-green1">
                <%= waterTestDetails.waterTesting.turbidity %>
              </span> <span class="value-green2">NTU</span> </span>
            <% }%>
              <% if (parseInt(waterTestDetails.waterTesting.turbidity) > 15000) { %>
                <span class="row"><span class="value-red1">
                    <%= waterTestDetails.waterTesting.turbidity %>
                  </span> <span class="value-red2">NTU</span> </span>
                <% }%>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="borderBottom">
          <p class="info">
            Turbidity is the result of the fine solids in water, like silt, clay, sand, industrial waste, sewage,
            organic matter, phytoplankton and the microscopic organisms. Turbidity makes water unfit for domestic and
            industrial purposes, it also restricts light penetration for photosynthesis. Extremely high levels affect
            aquatic animals such as fish and insects.
          </p>
        </td>
      </tr>
    </table>
    <table class="card">
      <tr>
        <td class="flex">
        <div class="iconBox">
          <img src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/nitrates-nitrites-icon.svg"
            alt="ICON">
          </div>
          <div class="content1">
          <span class="parameter">Ammonia</span><br />
          <span class="reason">Acceptable Standards</span><br />
          <span class="range">0.2 - 1.2 mg/L</span>
        </div>
      </td>
        <td class="value1">
          <% if (parseInt(waterTestDetails.waterTesting.ammonia) * 1>= 0.2 && parseInt(waterTestDetails.waterTesting.ammonia) * 1 <= 1.2) {
              %>
              <span class="row"><span class="value-green1">
                  <%= waterTestDetails.waterTesting.ammonia %>
                </span> <span class="value-green2">mg/L</span> </span>
              <% }%>
                <% if (parseInt(waterTestDetails.waterTesting.ammonia) * 1 < 0.2 || parseInt(waterTestDetails.waterTesting.ammonia) * 1>
                  1.2) { %>
                  <span class="row"><span class="value-red1">
                      <%= waterTestDetails.waterTesting.ammonia %>
                    </span> <span class="value-red2">mg/L</span> </span>
                  <% }%>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="borderBottom">
          <p class="info">
            Ammonia is one of several forms of nitrogen that exist in aquatic environments. It can enter the aquatic
            environment via direct means such as municipal effluent discharges and the excretion of nitrogenous wastes
            of animals, and indirect means such as nitrogen fixation and runoff from agricultural lands. Elevated
            concentrations of Ammonia make it difficult for aquatic organisms to sufficiently excrete the toxicant,
            leading to toxic buildup in internal tissues and blood, and potentially death. Factors such as pH and
            temperature, can affect Ammonia toxicity.
          </p>
        </td>
      </tr>
    </table>

    <table class="card">
      <tr>
        <td class="flex">
        <div>
          <img class="iconImg"
            src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/nitrates-nitrites-icon.svg"
            alt="ICON">
          </div>
          <div class="content">
          <span class="parameter">Phosphates</span><br />
          <span class="reason">Acceptable standards</span><br />
          <span class="range">Upto 0.1 mg/L</span>
        </div>
      </td>
        <td class="value1">
          <% if (parseInt(waterTestDetails.waterTesting.phosphate) * 1 <= 0.1) { %>
            <span class="row"><span class="value-green1">
                <%= waterTestDetails.waterTesting.phosphate %>
              </span> <span class="value-green2">mg/L</span> </span>
            <% }%>
              <% if (parseInt(waterTestDetails.waterTesting.phosphate)> 0.1) { %>
                <span class="row"><span class="value-red1">
                    <%= waterTestDetails.waterTesting.phosphate %>
                  </span> <span class="value-red2">mg/L</span> </span>
                <% }%>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="borderBottom">
          <p class="info">
            Phosphates are chemicals containing the element phosphorous. Phosphorous is a common constituent of
            agricultural fertilizers, manure and organic wastes in sewage and industrial effluent. A high concentration
            of phosphates can speed up Eutrophication (a reduction of dissolved oxygen in water), leading to algal
            blooms choking waterways. Soil erosion is a major contributor of phosphorous to streams and rivers. Bank
            erosion occurring during floods can transport a lot of phosphorous from river banks and adjacent land into a
            river. The decay process of the large bloom consumes oxygen and creates dead zones, where aquatic life can’t
            survive. If ingested, the algae can cause flu- like symptoms in people and death in livestock.
          </p>
        </td>
      </tr>
    </table>

    <table class="card">
      <tr>
        <td class="flex">
        <div>
          <img class="iconImg"
            src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/nitrates-nitrites-icon.svg"
            alt="ICON">
          </div>
          <div class="content">
          <span class="parameter">Lead</span><br />
          <span class="reason">Lead contamination in any amount is unsafe</span><br />
        </div>
      </td>
        <td class="value1">
          <% if (parseInt(waterTestDetails.waterTesting.lead) * 1== 0) { %>
            <span class="row"><span class="value-green1">
                <%= waterTestDetails.waterTesting.lead %>
              </span> <span class="value-green2">mg/L</span> </span>
            <% }%>
              <% if (parseInt(waterTestDetails.waterTesting.lead) > 0) { %>
                <span class="row"><span class="value-red1">
                    <%= waterTestDetails.waterTesting.lead %>
                  </span> <span class="value-red2">mg/L</span> </span>
                <% }%>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="borderBottom">
          <p class="info">
            Important sources of environmental contamination include mining, smelting, manufacturing and recycling
            activities, and, in some countries, the continued use of leaded paint, leaded gasoline, and leaded aviation
            fuel. More than three quarters of global lead consumption is for the manufacture of lead-acid batteries for
            motor vehicles. Lead is, however, also used in many other products, for example pigments, paints, solder,
            stained glass, lead crystal glassware, ammunition, ceramic glazes, jewellery, toys and in some cosmetics and
            traditional medicines.
          </p>
        </td>
      </tr>
    </table>
    <br><div style="page-break-after:always;"></div>
    <table class="card1">
      <tr>
        <td class="flex">
        <div>
          <img class="iconImg"
            src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/total-dissolved-solids-icon.svg"
            alt="ICON">
          </div>
          <div class="content">
          <span class="parameter">Total Dissolved Solids</span><br />
          <span class="reason">Poor: </span><span class="range">900 - 1200</span><br />
          <span class="reason">Unacceptable: </span><span class="range">Above 1200</span><br />
        </div>
      </td>
        <td class="value1">
          <% if (parseInt(waterTestDetails.waterTesting.totalDissolvedSolids) * 1 < 900) { %>
            <span class="row"><span class="value-green1">
                <%= waterTestDetails.waterTesting.totalDissolvedSolids %>
              </span> <span class="value-green2">ppm</span> </span>
            <% }%>
              <% if (waterTestDetails.waterTesting.totalDissolvedSolids>= 900) { %>
                <span class="row"><span class="value-red1">
                    <%= waterTestDetails.waterTesting.totalDissolvedSolids %>
                  </span> <span class="value-red2">ppm</span> </span>
                <% }%>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="borderBottom">
          <p class="info">
            Total dissolved solids is a measure of the dissolved combined content of inorganic salts, as well as organic
            matter. Common inorganic salts that can be found in water include calcium, magnesium, potassium and sodium,
            which are all cations, and carbonates, nitrates, bicarbonates, chlorides and sulfates, which are all anions.
          </p>
        </td>
      </tr>
    </table>
    <table class="card" >
      <tr>
        <td class="flex">
        <div>
          <img class="iconImg"
            src="https://our-river-our-life-images.s3.ap-south-1.amazonaws.com/static/conductivity-icon.svg" alt="ICON">
          </div>
          <div class="content">
          <span class="parameter">Conductivity</span><br />
          <span class="reason"><span class="value-red1">*</span> High conductivity (1000 to 10,000 µS/cm) is an indicator of saline conditions.</br> Waters
            that have been heavily impacted by industry can fall into this range.
          </span><br />
        </div>
      </td>
        <td class="value1" >
          <% if (parseInt(waterTestDetails.waterTesting.conductivity) * 1 < 1000) { %>
            <span class="row"><span class="value-green1">
                <%= waterTestDetails.waterTesting.conductivity %>
              </span> <span class="value-green2">μS</span> </span>
            <% }%>
              <% if (parseInt(waterTestDetails.waterTesting.conductivity) * 1>=1000 && parseInt(waterTestDetails.waterTesting.conductivity)
                * 1 <= 10000) { %>
                  <span class="row"><span class="value-red1">
                      <%= waterTestDetails.waterTesting.conductivity %>
                    </span> <span class="value-red2">μS</span> </span>
                  <% }%>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="borderBottom">
          <p class="info">
            Conductivity is a measure of the ability of water to pass an electrical current. Because dissolved salts and
            other inorganic chemicals conduct electrical current. Conductivity is useful as a general measure of water
            quality. Each water body tends to have a relatively constant range of conductivity that, once established,
            can be used as a baseline for comparison with regular conductivity measurements. Significant changes in
            conductivity could then be an indicator that a discharge or some other source of pollution has entered the
            aquatic resource.
          </p>
        </td>
      </tr>
    </table>
   
   <div class="section1">
    <br><div style="page-break-after:always;"></div>
    <div class="imgSection" >
    <% if (waterTestDetails.floraPictures.length > 0) { %>
      <h1 class="surrondingTitle">Flora Pictures</h1>
      <div class="imgContainer">
      <% waterTestDetails.floraPictures.forEach(flora=> {%> 
        <div class="image-wrapper" style="display: flex; flex-wrap: wrap;">
        <img src="<%= flora.imageURL %>" class="images">
      </div>
        <% });%>
      </div>
          <% }%>
        </div>
        <br><div style="page-break-after:always;"></div>
        <div class="imgSection" >
            <% if (waterTestDetails.faunaPictures.length > 0) { %>
              <h1 class="surrondingTitle">Fauna Pictures</h1>
              <div class="imgContainer">
              <% waterTestDetails.faunaPictures.forEach(fauna=> {%>
                <div class="image-wrapper" style="display: flex; flex-wrap: wrap;">
                <img src="<%= fauna.imageURL %>" class="images">
              </div>
                <% });%>
              </div>
                  <% }%>
                </div>
                <br><div style="page-break-after:always;"></div>
                  <div class="imgSection">
                    <% if (waterTestDetails.artworkPictures.length > 0) { %>
                      <h1 class="surrondingTitle">Artwork Pictures</h1>
                      <div class="imgContainer">
                      <% waterTestDetails.artworkPictures.forEach(artwork=> {%>
                        <div class="image-wrapper" style="display: flex; flex-wrap: wrap;">
                        <img src="<%= artwork.imageURL %>" class="images">
                      </div>
                        <% });%>
                      </div>
                          <% }%>
                        </div>
                        <br><div style="page-break-after:always;"></div>
                          <div class="imgSection">
                            <% if (waterTestDetails.groupPictures.length > 0) { %>
                              <h1 class="surrondingTitle">Group Pictures</h1>
                              <div class="imgContainer">
                              <% waterTestDetails.groupPictures.forEach(groupPicture=> {%>                              
                                <div class="image-wrapper" style="display: flex; flex-wrap: wrap;">
                                <img src="<%= groupPicture.imageURL %>" class="images">
                              </div>
                                <% });%>
                              </div>
                                  <% }%>
                                </div>
                                <br><div style="page-break-after:always;"></div>
                                  <div class="imgSection" >
                                  <% if (waterTestDetails.activityPictures.length > 0) { %>
                                    <h1 class="surrondingTitle">Activity Pictures</h1>
                                    <div class="imgContainer">
                                    <% waterTestDetails.activityPictures.forEach(activity => { %>
                                      <div class="image-wrapper" style="display: flex; flex-wrap: wrap;">
                                      <img src="<%= activity.imageURL %>" class="images">
                                    </div>
                                      <% }); %>
                                     </div>
                                        <% } %>
                                      </div>
                                      <br><div style="page-break-after:always;"></div>
                                        <div class="imgSection" >
                                            <% if (waterTestDetails.riverPictures.length > 0) { %>
                                              <h1 class="surrondingTitle">River Pictures</h1>
                                              <div  class="imgContainer">
                                                  <% waterTestDetails.riverPictures.forEach(river => { %>
                                                    <div class="image-wrapper" style="display: flex; flex-wrap: wrap;">
                                                      <img src="<%= river.imageURL %>" class="images">
                                                    </div>
                                                  <% }); %>
                                               </div>
                                                  <% }%>
                                                </div>
                                                </div>
                                                </center>
  </body>
</html>